.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}
.List {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Card {
  width: 250px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
  color: black;
  cursor: pointer;
  transition: transform 0.5s;
}
.Card img {
  display: block;
  width: 80%;
  height: 200px;
  margin: 0 auto;
}
.Card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}
.img-details {
  width: 300px;
  height: 300px;
}
.error {
  color: red;
  font-size: 150px;
  text-align: center;
  margin-top: 200px;
}
